@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.pagination {
	margin: 20px 0 20px 0;
}

.pagination ul li {
	list-style: none;
	float: left;
}

.pagination a {
	display: block;
	padding: 5px;
	min-width: 20px;
	height: 20px;
	border: 1px solid #333;
	text-align: center;
	text-decoration: none;
}

.page_on a {
	color: red;
	background-color: skyblue;
}

.page_off a {
	color: blue;
}
